<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.upc.baby_sitter" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerActivity"
            android:label="@string/title_activity_customer" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".QualifyBActivity"
            android:label="@string/title_activity_qualify_b" >
        </activity>
        <activity
            android:name=".ConsultRecordActivity"
            android:label="@string/title_activity_consult_record" >
        </activity>
        <activity
            android:name=".BabySitterCVActivity"
            android:label="@string/title_activity_baby_sitter_cv" >
        </activity>
        <activity
            android:name=".ApplyBabysitterActivity"
            android:label="@string/title_activity_apply_babysitter" >
        </activity>
    </application>

</manifest>
